body {
  margin: 0;
  padding: 0;
  /* background-color: #FEA1BF !important; */
  background-image: linear-gradient(#f37ea3, #ef1749);
}

.title {
  text-align: center;
  position: relative;
  margin-top: 100px;
  margin-bottom: 50px;
  color: #000000;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  /* margin-right: 18rem; */
}

.form {
  background-color: #ffd1dc;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 35px 35px 15px 35px;
  border-radius: 20px;
  box-shadow: 0px 0px 35px #ffdae2dc;
}

p {
  margin-bottom: 0.5rem !important;
  /* font-family: 'Anton', sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: medium;
  letter-spacing: 0.5px;
  font-weight: 600;
}

span,
.form-label {
  /* font-family: 'Anton', sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: medium;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #000000;
}

.form-check-label {
  font-weight: 400;
}

.form-check-inline {
  margin-bottom: 0.5rem !important;
}

.input-group {
  margin-bottom: 0.5rem;
}

.btn {
  margin-top: 1rem !important;
  margin-bottom: 30px;
  margin-left: 35%;
}

.weight {
  margin-top: -31.7px !important;
}

.input-group-text {
  width: 80px;
}

.bmi > input,
.bmi > span {
  height: 72px !important;
}

.bmiSection {
  display: flex;
  justify-content: space-between;
}

.bmiSection > div {
  width: 48%;
}

.form-check-input[type="radio"]:checked:after {
  border-color: #f37ea3 !important;
  background-color: #ef1749 !important;
}

.form-check-input:checked {
  border-color: #ef1749 !important;
}

.range {
  --mdb-range-thumb-background: #ef1749 !important;
}


input[type=range]::-webkit-slider-thumb {
  background: #ef1749;
}

input[type=range]::-webkit-slider-thumb:active {
  background: #f37ea3;
}